.info-card {

    transition: transform 0.3s;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white; /* Fondo blanco */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para mejor visibilidad */
  }