/* You can add global styles to this file, and also import other style files */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

/* Estilo para el asterisco rojo */
.required:after {
  content: '*';
  color: red;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  border: 1px solid #ddd;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.activeLink {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

/* En tu archivo de estilos CSS */
.activeSidebar {
  background-color: #c3dfff !important; /* Color de fondo para la opción activa */
  color: #000000 !important; /* Color del texto para la opción activa */
}
.activeSidebar i {
  color: #000000 !important;
}
.page-link {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  white-space: nowrap;
}

.loading{
  text-align: center;
  justify-content: center;
  align-content: center;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20001;
}
.back-loading{
  position: absolute;
  width: 100%;
  background-color: rgb(111, 123, 133);
  top: 0;
  height: 100%;
  opacity: .7;
}

.loader {
  width: 106px;
  height: 56px;
  display: block;
  margin: 30px auto;
  background-image: linear-gradient(#01b4e4 50px, transparent 0), linear-gradient(#01b4e4 50px, transparent 0), linear-gradient(#01b4e4 50px, transparent 0), linear-gradient(#01b4e4 50px, transparent 0), radial-gradient(circle 14px, #01b4e4 100%, transparent 0);
  background-size: 48px 15px, 15px 35px, 15px 35px, 25px 15px, 28px 28px;
  background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
  background-repeat: no-repeat;
  position: relative;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  width: 56px;
  height: 56px;
  border: 6px solid #01b4e4;
  border-radius: 50%;
  left: -45px;
  top: -10px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#01b4e4 64px, transparent 0), linear-gradient(#01b4e4 66px, transparent 0), radial-gradient(circle 4px, #01b4e4 100%, transparent 0);
  background-size: 40px 1px, 1px 40px, 8px 8px;
  background-position: center center;
  box-sizing: border-box;
  animation: rotation 0.3s linear infinite;
}

.loader::before {
  left: 25px;
  top: 60px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}