<app-visitor>
    <style>
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <main id="mainVisitor" class="main">
        <div class="row">
            <div class="col-10 offset-1 content-center">
                <div class="pagetitle">
                    <h1>Formulario del niño(a)</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item active">Formulario de niño(a)</li>
                        </ol>
                    </nav>
                </div>
                <div class="pagetitle flex-container">
                    <a routerLink="/dashboard">
                        <span class="glyphicon glyphicon-chevron-left"></span><i class="bi bi-arrow-left"></i> Dashboard
                    </a>
                    <a *ngIf="onlySee || edit " [routerLink]="urlPrincipal+'/solicitud/' + request_id + '/padres'">
                        Siguiente <i class="bi bi-arrow-right"></i><span
                            class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div *ngIf="!onlySee">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-info-circle-fill me-2"></i>
                                            <div>
                                                <strong>¡Atención!</strong> La información proporcionada es
                                                exclusivamente del niño(a) que se registrará en el trámite de guarderías.
                                            </div>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Cerrar"></button>
                                    </div>
                                </div>

                                <div
                                    *ngIf="!edit && onlySee && (request?.status_request_id == 1 || request?.status_request_id == 5 || request?.status_request_id == 7)">
                                    <div class="alert alert-primary alert-dismissible fade show d-flex align-items-center "
                                        role="alert">
                                        <div>
                                            <strong>¡Importante!</strong> ¿Quieres actualizar la información del
                                            infante?
                                        </div>
                                        <button type="button" class="btn btn-sm btn-primary" style="margin-left: 5px;"
                                            (click)="loadingUpdate()">
                                            <i class="bi bi-pencil"></i> Actualizar
                                        </button>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Cerrar"></button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">Formulario del niño(a)</h5>
                                    <form class="row g-3" [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
                                        <div class="col-9 col-md-6 col-lg-6">
                                            <label class="form-label required">CURP</label>
                                            <input type="text" class="form-control" formControlName="curp"
                                                (input)="miFormulario.controls['curp'].setValue(miFormulario.controls['curp'].value.toUpperCase())">
                                            <span class="form-text text-danger form"
                                                *ngIf="miFormulario.controls['curp'].errors && miFormulario.controls['curp'].touched">
                                                CURP no válida.
                                            </span>
                                        </div>
                                        <!-- <div class="col-12 col-md-6 col-lg-6 align-self-end" *ngIf="curp != true">
                                            <button type="button" class="btn btn-md btn-success mt-1"
                                                (click)="validatorCurp()">Validar CURP</button>
                                        </div>
                                        <div class="col-1 col-md-6 col-lg-6 align-self-end"
                                            *ngIf="curp == true && newData == true">
                                            <button type="button" class="btn btn-md btn-danger mt-1"
                                                (click)="backCurp()">
                                                <i class="bi bi-arrow-90deg-left"></i>
                                            </button>
                                        </div> -->
                                        <!-- <div *ngIf="curp == true" class="row"> -->
                                        <div class="row">
                                            <hr class="mt-1">
                                            <h5>Datos Generales</h5>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <label class="form-label required">Nombre</label>
                                                <input type="email" class="form-control" formControlName="nombre">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['nombre'].errors && miFormulario.controls['nombre'].touched">
                                                    Nombre requerido.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <label class="form-label required">Apellido Paterno</label>
                                                <input class="form-control" formControlName="apaterno">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['apaterno'].errors && miFormulario.controls['apaterno'].touched">
                                                    Apellido paterno requerido.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <label class="form-label required">Apellido Materno</label>
                                                <input class="form-control" formControlName="amaterno">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['amaterno'].errors && miFormulario.controls['amaterno'].touched">
                                                    Apellido materno requerido.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <label class="form-label required">Fecha de Nacimiento</label>
                                                <input type="date" class="form-control"
                                                    placeholder="Ejemplo de formato 2022-11-04"
                                                    formControlName="fechanacimiento">
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['fechanacimiento'].errors && miFormulario.controls['fechanacimiento'].touched">
                                                    Fecha de nacimiento requerida.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <label class="form-label required">Sexo</label>
                                                <select class="form-control" formControlName="sexo">
                                                    <option value="">-Seleccionar-</option>
                                                    <option value="1">Hombre</option>
                                                    <option value="2">Mujer</option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['sexo'].errors && miFormulario.controls['sexo'].touched">
                                                    Debes seleccionar una opción.
                                                </span>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <label class="form-label required">Tipo de Sangre</label>
                                                <select class="form-control" formControlName="tipo_sangre">
                                                    <option value="">-Seleccionar-</option>
                                                    <option value="A+">A+</option>
                                                    <option value="A-">A-</option>
                                                    <option value="B+">B+</option>
                                                    <option value="B-">B-</option>
                                                    <option value="AB+">AB+</option>
                                                    <option value="AB-">AB-</option>
                                                    <option value="O+">O+</option>
                                                    <option value="O-">O-</option>
                                                </select>
                                                <span class="form-text text-danger form"
                                                    *ngIf="miFormulario.controls['tipo_sangre'].errors && miFormulario.controls['tipo_sangre'].touched">
                                                    Debes seleccionar una opción.
                                                </span>
                                            </div>
                                        </div>
                                        <!-- <div class="text-center" *ngIf="!onlySee && curp == true && edit == false">
                                            <button type="submit" class="btn btn-success">Guardar</button>
                                        </div>
                                        <div class="text-center" *ngIf="!onlySee && curp == true && edit == true">
                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                        </div> -->
                                        <div class="text-center" *ngIf="!onlySee &&  edit == false">
                                            <button type="submit" class="btn btn-success">Guardar</button>
                                        </div>
                                        <div class="text-center" *ngIf="!onlySee && edit == true">
                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</app-visitor>