<app-visitor>
    <style>
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <main id="mainVisitor" class="main">
        <div class="row">
            <div class="col-10 offset-1 content-center">
                <div class="pagetitle">
                    <h1>Cuenta bancaria
                    </h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/solicitante/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item active">Cuenta bancaria</li>
                        </ol>
                    </nav>
                </div>
                <div class="pagetitle flex-container">
                    <a [routerLink]="'/solicitante/beca-deportiva/' + request_id + '/competicion'">
                        <span class="glyphicon glyphicon-chevron-left"></span><i class="bi bi-arrow-left"></i> Anterior
                    </a>

                    <a [routerLink]="'/solicitante/beca-deportiva/' + request_id + '/logros-importantes'" *ngIf="onlySee">
                        Siguiente <i class="bi bi-arrow-right"></i><span
                            class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div *ngIf="newData || edit">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-info-circle-fill me-2"></i>
                                            <div>
                                                <strong>¡Atención!</strong> La información ingresada es de caracter
                                                delicado, favor de retificar la información con cuidado.
                                            </div>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Cerrar"></button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">Cuenta bancaria</h5>
                                    <form class="row g-3" [formGroup]="miFormulario" (ngSubmit)="onSubmit()">

                                        <div class="col-12 col-md-6 col-lg-6">
                                            <label class="form-label required">Número de cuenta</label>
                                            <input type="text" class="form-control" formControlName="account"
                                                minlength="8" maxlength="18">
                                            <span class="form-text text-danger form"
                                                *ngIf="miFormulario.controls['account'].errors && miFormulario.controls['account'].touched">
                                                Número de cuenta requerido con logitud de 8 a 18 números.
                                            </span>
                                        </div>


                                        <div class="col-12 col-md-6 col-lg-6">
                                            <label class="form-label required">Número de cuenta clabe</label>
                                            <input type="text" class="form-control" formControlName="key_account"
                                                minlength="18" maxlength="18">
                                            <span class="form-text text-danger form"
                                                *ngIf="miFormulario.controls['key_account'].errors && miFormulario.controls['key_account'].touched">
                                                Número de cuenta clabe requerido con logitud de 18 números.
                                            </span>
                                        </div>


                                        <div class="col-12 col-lg-8">
                                            <label class="form-label required">Nombre completo del titular de la
                                                cuenta</label>
                                            <input type="text" class="form-control"
                                                formControlName="titular_persona_name">
                                            <span class="form-text text-danger form"
                                                *ngIf="miFormulario.controls['titular_persona_name'].errors && miFormulario.controls['titular_persona_name'].touched">
                                                Nombre completo del titular de la cuenta requerido.
                                            </span>
                                        </div>


                                        <div class="col-12 col-lg-4">
                                            <label class="form-label required">Banco <span class="text-danger"
                                                    *ngIf="newData || edit">(debe ser
                                                    reconocido en México)</span></label>
                                            <input type="text" class="form-control" formControlName="bank">
                                            <span class="form-text text-danger form"
                                                *ngIf="miFormulario.controls['bank'].errors && miFormulario.controls['bank'].touched">
                                                Banco requerido.
                                            </span>
                                        </div>

                                        <div *ngIf="!edit && !onlySee; else existFile">
                                            <label for="fileInput" class="form-label">Estado de cuenta:</label>
                                            <div class="drop-zone" (dragover)="onDragOver($event)"
                                                (drop)="onDrop($event)" (click)="fileInput.click()">
                                                <input #fileInput type="file" class="visually-hidden"
                                                    accept=".pdf, .jpg, .jpeg, .png" (change)="onFileSelected($event)"
                                                    (drop)="onFileSelected($event)">
                                                <div class="preview-container" *ngIf="selectedFileName">
                                                    <img [src]="selectedFilePreview" alt="Archivo seleccionado"
                                                        class="preview-image">
                                                    <p>{{ selectedFileName }}</p>
                                                </div>
                                                <div class="file-input-placeholder" *ngIf="!selectedFileName">
                                                    <p>Arrastra o selecciona un archivo</p>
                                                </div>
                                            </div>
                                            <small class="form-text text-muted">Formatos permitidos: PDF, JPG, JPEG,
                                                PNG</small>
                                        </div>

                                        <ng-template #existFile>
                                            <div class="text-center">
                                                <a class="mt-3"
                                                    href="{{ baseUrl+'sports/'+miFormulario.controls['account_status_url'].value }}"
                                                    download  target="_blank" rel="noopener noreferrer">
                                                    <i class="bi bi-file-earmark-arrow-down-fill my-icon"></i>
                                                    <h2>Descargar estado de cuenta</h2>
                                                </a>
                                            </div>
                                        </ng-template>


                                        <div class="text-center" *ngIf="!onlySee">
                                            <button type="submit" class="btn btn-primary"
                                                [ngClass]="newData ? 'btn-success' :  'btn-primary' ">{{newData ?
                                                'Guardar' : 'Actualizar' }}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</app-visitor>