<app-sports>
    <main id="main" class="main">
       <div class="pagetitle">
          <h1>Beneficiarios</h1>
          <nav>
             <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Beneficiarios</li>
             </ol>
          </nav>
       </div>
       <section class="section dashboard">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Tabla de beneficiarios</h5>
               <!-- <button class=" btn btn-sm btn-primary m-1" data-bs-toggle="modal" data-bs-target="#serviciosModal">Ingresar
                  beneficiario</button> -->
               <div class="search-container">
                  <ul class="nav nav-tabs w-100" id="myTabs">
                     <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#personalizada" (click)="search(1)">Todos</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#search">Buscador</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#personalizada" (click)="search('status:1')">Activos</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#personalizada"
                           (click)="search('status:0')">Inactivos</a>
                     </li>
                  </ul>
                  <div class="tab-content">
                     <div class="tab-pane fade show active" id="personalizada" role="tabpanel">
                        <!-- Aquí puedes mostrar la tabla completa -->
                     </div>
                     <div class="tab-pane fade" id="search" role="tabpanel">
                        <div class="content-section">
                           <div class="card xu-card">
                              <div class="card-body">
                                 <input type="text" class="form-control mt-2" placeholder="Buscar..." [(ngModel)]="searchTerm"
                                    (input)="onSearchTermChange(searchTerm)">
                              </div>
                           </div>
                        </div>
                     </div>
         
                  </div>
               </div>
               <div class="table-container" *ngIf="data?.data?.length > 0">
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th scope="col"></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let item of data.data">
                           <th scope="row">{{item.id}}</th>
                           <td>{{item.nombre ?? null}} {{item.apaterno ?? null}}</td>
                           <td>{{item.fechanacimiento ?? null}}</td>
                           <td>{{calculateAge(item.fechanacimiento) ?? null}}</td>
                           <td>
                              <div class="text-center"
                                 [ngClass]="item.beneficiary_creche[0].status == 0 ? 'alert-danger' :  'alert-success' ">
                                 {{item.beneficiary_creche[0].status == 1 ? 'ACTIVO' : 'INACTIVO' }}
                              </div>
                           </td>
                           <td>{{item.beneficiary_creche[0].creche.degree.name ?? null}}</td>
                           <td>{{item.beneficiary_creche[0].creche.room.name ?? null}}</td>
                           <td><button class=" btn btn-sm btn-info m-1" data-bs-toggle="modal"
                                 data-bs-target="#showBeneficiaryCrecheModel" (click)="getLocations(1,item)">Ver Datos</button>
                              <button *ngIf="item.beneficiary_creche[0].status == 0" class=" btn btn-sm btn-success m-1"
                                 data-bs-toggle="modal" data-bs-target="#crecheModal"
                                 >Dar
                                 De Alta</button>
                              <button *ngIf="item.beneficiary_creche[0].status == 1" class=" btn btn-sm btn-danger m-1"
                                 (click)="changeEstatus(item,0)">Dar De Baja</button>
                              <!-- <button *ngIf="item.beneficiary_creche[0].status == 0" class=" btn btn-sm btn-primary m-1"
                                 data-bs-toggle="modal" data-bs-target="#locationModal" (click)="getLocations(1,item)">Cambiar
                                 Centro</button> -->
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <nav aria-label="Page navigation example" *ngIf="data?.total > data?.per_page ">
                     <ul class="pagination">
                        <li class="page-item" *ngFor="let item of data.links; let i = index">
                           <button class="page-link" [ngClass]="{'activeLink': item.active}" (click)="onPageChange(item.url)"
                              *ngIf="item.url != null">
                              <ng-container *ngIf="item.label === '&laquo; Previous'">«</ng-container>
                              <ng-container *ngIf="item.label === 'Next &raquo;'">»</ng-container>
                              <ng-container *ngIf="item.label !== '&laquo; Previous' && item.label !== 'Next &raquo;'">
                                 {{ item.label.includes('Previous') ? '«' : item.label.includes('Next') ? '»' : item.label }}
                              </ng-container>
                           </button>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
       </section>
    </main>
 </app-sports>