<app-sports>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Histórico</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Histórico</li>
                </ol>
            </nav>
        </div>
        <section class="section dashboard">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tabla de solicitudes</h5>

                    <div class="text-end">
                        <div class="row flex justify-content-end align-items-center">
                            <div class="col-6 col-md-4 col-lg-3" *ngIf="filter">
                                <label for="">Fecha inicio</label>
                                <input type="date" class="m-2 form-control" id="dateStart" [(ngModel)]="dateStart"
                                    (ngModelChange)="search(valueFilter)">
                            </div>
                            <div class="col-6 col-md-4 col-lg-3" *ngIf="filter">
                                <label>Fecha fin</label>
                                <input type="date" class="m-2 form-control" id="dateEnd" [(ngModel)]="dateEnd"
                                    (ngModelChange)="search(valueFilter)">
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <input type="checkbox" id="filter" [(ngModel)]="filter"
                                    (ngModelChange)="search(valueFilter)">
                                <label class="m-2"><strong>Filtrar por fechas</strong></label>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3" *ngIf="data?.data?.length > 0">
                                <button class="btn btn-primary" (click)="export()"><i class="fa fa-download"></i>
                                    Exportar</button>
                            </div>
                        </div>
                    </div>


                    <div class="search-container">
                        <ul class="nav nav-tabs w-100" id="myTabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#personalizada"
                                    (click)="search(1)">Todas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#search">Buscador</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#personalizada"
                                    (click)="search('status:2')">Por revisar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#personalizada"
                                    (click)="search('status:3')">Pendientes a Comite</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#personalizada"
                                    (click)="search('status:5')">Aceptadas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#personalizada"
                                    (click)="search('status:8')">Justificadas</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#personalizada"
                                    (click)="search('status:7')">Rechazadas</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="personalizada" role="tabpanel">
                                <!-- Aquí puedes mostrar la tabla completa -->
                            </div>
                            <div class="tab-pane fade" id="search" role="tabpanel">
                                <div class="content-section">
                                    <div class="card xu-card">
                                        <div class="card-body">
                                            <input type="text" class="form-control mt-2" placeholder="Buscar..."
                                                [(ngModel)]="searchTerm" (input)="onSearchTermChange(searchTerm)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Aquí puedes agregar más pestañas con su contenido según sea necesario -->
                        </div>
                    </div>
                    <ng-container *ngIf="data?.data?.length > 0; else sinResult">
                        <div class="table-container">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" *ngFor="let header of headers">{{header}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data.data; index as i">
                                        <th scope="row">{{i+1}}</th>
                                        <th>{{item.invoice}}</th>
                                        <td>{{item.aplicant?.name}}</td>
                                        <td>{{item.discipline?.name}}</td>
                                        <td>{{item.competition?.competition_type?.name}}</td>
                                        <td>{{item.finished}}</td>
                                        <td>${{item.competition?.approved_budget | mexicanCurrency}}</td>
                                        <!-- <td>{{calculateAge(item.beneficiaries[0].fechanacimiento) }}</td> -->
                                        <!-- <td>{{formatDate(item.finished) ?? null}}</td> -->
                                        <td>
                                            <div class="text-center"
                                                [ngClass]=" item.status_request_id === 3 ? 'alert-warning' : item.status_request_id === 5 ? 'alert-success' :(item.status_request_id === 2 ? 'alert-primary': (item.status_request_id === 7 ? 'alert-danger': 'alert-warning'))">
                                                {{item.status_request_id == 3 ? 'En Comite' : (item.status_request_id
                                                == 5 ? 'Aceptado' : (item.status_request_id
                                                == 8 ? 'Justificado' : (item.status_request_id == 2 ? 'Por revisar':
                                                (item.status_request_id == 7 ? 'Rechazada':
                                                (item.status_request_id
                                                == 4 ? 'Modificando' : (item.status_request_id == 9 ? 'Recurso no devuelto' :
                                    (item.status_request_id == 10 ? 'Recurso devuelto' : (item.status_request_id == 11 ?
                                    'Aprobada' : ''))))))))}}</div>
                                        </td>
                                        <!-- <td *ngIf="item.quotes_count != 0 && item.status_request_id == 3">
                                       <div class="alert-success">Cita Agendada</div>
                                    </td> -->
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                                                    id="optionsDropdown_{{item.id}}" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    Opciones
                                                </button>
                                                <!-- Aplica la clase "striped" de manera condicional a cada elemento de menú -->
                                                <ul class="dropdown-menu"
                                                    [attr.aria-labelledby]="'optionsDropdown_' + item.id">
                                                    <li>
                                                        <button class="dropdown-item" data-bs-toggle="modal"
                                                            data-bs-target="#dataModal"
                                                            (click)="selectData(item.id)">Ver
                                                            información</button>
                                                    </li>
                                                    <li *ngIf="item.status_request_id == 5">
                                                        <button class="dropdown-item"
                                                            (click)="sendMessageJustificacion(item.id)">Pedir
                                                            justificación</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                    <nav aria-label="Page navigation example" *ngIf="data?.total > data?.per_page ">
                        <ul class="pagination">
                            <li class="page-item" *ngFor="let item of data.links; let i = index">
                                <button class="page-link" [ngClass]="{'activeLink': item.active}"
                                    (click)="onPageChange(item.url)" *ngIf="item.url != null">
                                    <ng-container *ngIf="item.label === '&laquo; Previous'">«</ng-container>
                                    <ng-container *ngIf="item.label === 'Next &raquo;'">»</ng-container>
                                    <ng-container
                                        *ngIf="item.label !== '&laquo; Previous' && item.label !== 'Next &raquo;'">
                                        {{ item.label.includes('Previous') ? '«' : item.label.includes('Next') ? '»'
                                        :
                                        item.label
                                        }}
                                    </ng-container>
                                </button>
                            </li>
                        </ul>
                    </nav>


                    <!-- Aquí puedes mostrar un mensaje de error si no se encontraron resultados -->
                    <ng-template #sinResult>
                        <div class="alert alert-danger mt-5" role="alert">
                            No se encontraron resultados
                        </div>
                    </ng-template>

                </div>
            </div>
        </section>
    </main>

    <app-show-data [data]="dataShow"></app-show-data>
</app-sports>