<app-visitor>
    <style>
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <main id="mainVisitor" class="main">
        <div class="row">
            <div class="col-10 offset-1 content-center">
                <div class="pagetitle">
                    <h1>Logros importantes
                    </h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/solicitante/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item active">Mi perfil</li>
                        </ol>
                    </nav>
                </div>

                <section class="section profile">
                    <div class="row">

                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body pt-3">
                                    <ul class="nav nav-tabs nav-tabs-bordered">
                                        <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab"
                                                data-bs-target="#profile-overview">Descripción general</button></li>
                                        <li class="nav-item"> <button #myButton class="nav-link" data-bs-toggle="tab"
                                                data-bs-target="#profile-edit">Editar perfil</button></li>
                                        <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab"
                                                data-bs-target="#profile-change-password">Cambiar contraseña</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content pt-2">
                                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                            <h5 class="card-title">Detalles de perfil</h5>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Nombre completo</div>
                                                <div class="col-lg-9 col-md-8">{{miFormulario.controls['name'].value}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">CURP</div>
                                                <div class="col-lg-9 col-md-8">{{miFormulario.controls['curp'].value}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">RFC</div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{miFormulario.controls['rfc'].value}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div class="col-lg-9 col-md-8">{{miFormulario.controls['email'].value}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Fecha de nacimiento</div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{miFormulario.controls['birtdate'].value}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Telefono</div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{miFormulario.controls['phone_number'].value}}</div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade  profile-edit pt-3" id="profile-edit">
                                            <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
                                                <div class="row mb-3">
                                                    <label for="name"
                                                        class="col-md-4 col-lg-3 col-form-label required">Nombre
                                                        completo</label>
                                                    <div class="col-md-8 col-lg-9"> <input name="name" type="text"
                                                            formControlName="name" class="form-control" id="name"></div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="curp"
                                                        class="col-md-4 col-lg-3 col-form-label required">CURP</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="curp" type="text" class="form-control" id="curp"
                                                            formControlName="curp">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="rfc"
                                                        class="col-md-4 col-lg-3 col-form-label">RFC</label>
                                                    <div class="col-md-8 col-lg-9"> <input name="rfc" type="text"
                                                            class="form-control" id="rfc" formControlName="rfc">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="birtdate"
                                                        class="col-md-4 col-lg-3 col-form-label required">Fecha
                                                        de nacimiento</label>
                                                    <div class="col-md-8 col-lg-9"> <input name="birtdate" type="date"
                                                            class="form-control" id="birtdate"
                                                            formControlName="birtdate"></div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="phone_number"
                                                        class="col-md-4 col-lg-3 col-form-label required">Telefono</label>
                                                    <div class="col-md-8 col-lg-9"> <input name="phone_number"
                                                            type="text" class="form-control" id="phone_number"
                                                            formControlName="phone_number">
                                                    </div>
                                                </div>

                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary">Guardar
                                                        cambios</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade pt-3" id="profile-change-password">
                                            <form [formGroup]="miFormularioPassword" (ngSubmit)="changePassword()">
                                                <div class="row mb-3">
                                                    <label for="password"
                                                        class="col-md-4 col-lg-3 col-form-label">Contraseña
                                                        actual</label>
                                                    <div class="col-md-8 col-lg-9"> <input name="password"
                                                            type="password" class="form-control" id="password"
                                                            formControlName="password">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="new_password"
                                                        class="col-md-4 col-lg-3 col-form-label">Nueva
                                                        contraseña</label>
                                                    <div class="col-md-8 col-lg-9"> <input name="new_password"
                                                            type="password" class="form-control" id="new_password"
                                                            formControlName="new_password">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="new_password_repeat"
                                                        class="col-md-4 col-lg-3 col-form-label">Repetir nueva
                                                        contraseña</label>
                                                    <div class="col-md-8 col-lg-9"> <input name="new_password_repeat"
                                                            type="password" class="form-control"
                                                            id="new_password_repeat"
                                                            formControlName="new_password_repeat">
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary">Cambiar
                                                        contraseña</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-sm-flex justify-content-between align-items-center">
                                        <h5 class="card-title mb-2 mb-sm-0">Logros importantes</h5>
                                        <button class="btn btn-primary">Registrar logros</button>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                                            <article class="card">
                                                <img src="assets/img/logro-1.png" class="card-img-top" alt="Imagen"
                                                    style="align-self: center">
                                                <div class="container text-card">
                                                    <p><strong>Diciplina:</strong> Futbol</p>
                                                    <p><strong>Competencia:</strong> Copa America aifa 2024</p>
                                                    <p><strong>Lugar:</strong> Buenos Aires, Argentina</p>
                                                    <p><strong>Tipo de competencia:</strong> Internacional</p>

                                                    <div class="d-grid gap-1">
                                                        <button type="button"
                                                            class=" btn-lg btn btn-warning mt-2">Eliminar</button>
                                                        <button type="button"
                                                            class=" btn-lg btn btn-info mt-2">Cambiar</button>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                                            <article class="card">
                                                <img src="assets/img/logro-2.png" class="card-img-top" alt="Imagen"
                                                    style="align-self: center">
                                                <div class="container text-card">
                                                    <p><strong>Diciplina:</strong> Futbol</p>
                                                    <p><strong>Competencia:</strong> Copa America aifa 2024</p>
                                                    <p><strong>Lugar:</strong> Buenos Aires, Argentina</p>
                                                    <p><strong>Tipo de competencia:</strong> Internacional</p>
                                                    <div class="d-grid gap-1">
                                                        <button type="button"
                                                            class=" btn-lg btn btn-warning mt-2">Eliminar</button>
                                                        <button type="button"
                                                            class=" btn-lg btn btn-info mt-2">Cambiar</button>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>


</app-visitor>