<app-visitor>
    <style>
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <main id="mainVisitor" class="main">
        <div class="row">
            <div class="col-10 offset-1 content-center">
                <div class="pagetitle">
                    <h1>Mi perfil
                    </h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/solicitante/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item active">Mi perfil</li>
                        </ol>
                    </nav>
                </div>

                <section class="section profile">
                    <div class="row">

                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body pt-3">
                                    <ul class="nav nav-tabs nav-tabs-bordered">
                                        <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab"
                                                data-bs-target="#profile-overview">Descripción general</button></li>
                                        <li class="nav-item"> <button #myButton class="nav-link" data-bs-toggle="tab"
                                                data-bs-target="#profile-edit">Editar perfil</button></li>
                                        <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab"
                                                data-bs-target="#profile-change-password">Cambiar contraseña</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content pt-2">
                                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                            <h5 class="card-title">Detalles de perfil</h5>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Nombre completo</div>
                                                <div class="col-lg-9 col-md-8">{{miFormulario.controls['name'].value}}
                                                    {{miFormulario.controls['last_name'].value}}
                                                    {{miFormulario.controls['mother_last_name'].value}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">CURP</div>
                                                <div class="col-lg-9 col-md-8">{{miFormulario.controls['curp'].value}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">RFC</div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{miFormulario.controls['rfc'].value}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div class="col-lg-9 col-md-8">{{miFormulario.controls['email'].value}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Fecha de nacimiento</div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{miFormulario.controls['birtdate'].value}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Telefono celular</div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{miFormulario.controls['phone_number'].value}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Telefono</div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{miFormulario.controls['second_phone_number'].value}}</div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade  profile-edit pt-3" id="profile-edit">
                                            <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
                                                <div class="row mb-3">
                                                    <label for="name"
                                                        class="col-md-4 col-lg-3 col-form-label required">Nombre</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="name" type="text" formControlName="name"
                                                            class="form-control" id="name">
                                                    </div>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['name'].errors && miFormulario.controls['name'].touched">
                                                        Nombre requerido.
                                                    </span>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="last_name"
                                                        class="col-md-4 col-lg-3 col-form-label required">Apellido
                                                        paterno</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="last_name" type="text" formControlName="last_name"
                                                            class="form-control" id="last_name">
                                                    </div>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['last_name'].errors && miFormulario.controls['last_name'].touched">
                                                        Apellido paterno requerido.
                                                    </span>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="mother_last_name"
                                                        class="col-md-4 col-lg-3 col-form-label required">Apellido
                                                        materno</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="mother_last_name" type="text"
                                                            formControlName="mother_last_name" class="form-control"
                                                            id="mother_last_name">
                                                    </div>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['mother_last_name'].errors && miFormulario.controls['mother_last_name'].touched">
                                                        Apellido materno requerido.
                                                    </span>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="curp"
                                                        class="col-md-4 col-lg-3 col-form-label required">CURP</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="curp" type="text" class="form-control" id="curp"
                                                            formControlName="curp">
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="rfc"
                                                        class="col-md-4 col-lg-3 col-form-label">RFC</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="rfc" type="text" class="form-control" id="rfc"
                                                            formControlName="rfc">
                                                    </div>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['rfc'].errors && miFormulario.controls['rfc'].touched">
                                                        El RFC debe de tener 13 caracteres de longitud.
                                                    </span>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="birtdate"
                                                        class="col-md-4 col-lg-3 col-form-label required">Fecha de
                                                        nacimiento</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="birtdate" type="date" class="form-control"
                                                            id="birtdate" formControlName="birtdate">
                                                    </div>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['birtdate'].errors && miFormulario.controls['birtdate'].touched">
                                                        Fecha de nacimiento requerida.
                                                    </span>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="phone_number"
                                                        class="col-md-4 col-lg-3 col-form-label required">Teléfono
                                                        celular</label>
                                                    <label for="phone_number"
                                                        class="col-md-4 col-lg-3 col-form-label required">Número de
                                                        teléfono celular</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="phone_number" type="text" class="form-control"
                                                            id="phone_number" maxlength="10" minlength="10"
                                                            formControlName="phone_number">
                                                    </div>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['phone_number'].errors && miFormulario.controls['phone_number'].touched">
                                                        Número celular requerido con logitud de 10 números.
                                                    </span>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="second_phone_number"
                                                        class="col-md-4 col-lg-3 col-form-label">Número de
                                                        teléfono</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="second_phone_number" type="text"
                                                            class="form-control" id="second_phone_number" maxlength="10"
                                                            minlength="10" formControlName="second_phone_number">
                                                    </div>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormulario.controls['second_phone_number'].errors && miFormulario.controls['second_phone_number'].touched">
                                                        Número de telefonico con logitud de 10 números.
                                                    </span>
                                                </div>

                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary">Guardar
                                                        cambios</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade pt-3" id="profile-change-password">
                                            <form [formGroup]="miFormularioPassword" (ngSubmit)="changePassword()">
                                                <div class="row mb-3">
                                                    <label for="password"
                                                        class="col-md-4 col-lg-3 col-form-label">Contraseña
                                                        actual</label>
                                                    <div class="col-md-8 col-lg-9"> <input name="password"
                                                            type="password" class="form-control" id="password"
                                                            formControlName="password">
                                                    </div>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormularioPassword.controls['password'].errors && miFormularioPassword.controls['password'].touched">
                                                        La contraseña tiene minimo 6 digitos.
                                                    </span>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="new_password"
                                                        class="col-md-4 col-lg-3 col-form-label">Nueva
                                                        contraseña</label>
                                                    <div class="col-md-8 col-lg-9"> <input name="new_password"
                                                            type="password" class="form-control" id="new_password"
                                                            formControlName="new_password">
                                                    </div>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormularioPassword.controls['new_password'].errors && miFormularioPassword.controls['new_password'].touched">
                                                        La nueva contraseña debe de tener minimo 6 digitos.
                                                    </span>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="new_password_repeat"
                                                        class="col-md-4 col-lg-3 col-form-label">Repetir nueva
                                                        contraseña</label>
                                                    <div class="col-md-8 col-lg-9"> <input name="new_password_repeat"
                                                            type="password" class="form-control"
                                                            id="new_password_repeat"
                                                            formControlName="new_password_repeat">
                                                    </div>
                                                    <span class="form-text text-danger form"
                                                        *ngIf="miFormularioPassword.controls['new_password_repeat'].errors && miFormularioPassword.controls['new_password_repeat'].touched">
                                                        No coincide con la nueva contraseña.
                                                    </span>
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary">Cambiar
                                                        contraseña</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <app-important-archievement></app-important-archievement>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</app-visitor>