<app-visitor>
    <style>
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <main id="mainVisitor" class="main">
        <div class="row">
            <div class="col-10 offset-1 content-center">
                <div class="pagetitle">
                    <h1>Losgros importantes
                    </h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/solicitante/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item active">Losgros importantes</li>
                        </ol>
                    </nav>
                </div>

                <div class="pagetitle flex-container">
                    <a [routerLink]="'/solicitante/beca-deportiva/' + request_id + '/cuenta-bancaria'">
                        <span class="glyphicon glyphicon-chevron-left"></span><i class="bi bi-arrow-left"></i> Anterior
                    </a>

                    <a [routerLink]="'/solicitante/beca-deportiva/' + request_id + '/documentacion'" >
                        Siguiente <i class="bi bi-arrow-right"></i><span
                            class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

                <section class="section profile">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <app-important-archievement>

                                    </app-important-archievement>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</app-visitor>