<footer id="footerVisitor" class="footerVisitor">
    <div class="footer-content">
        <div class="footer-left">
            <div class="footer-logo">
                <img src="assets/img/logo_comude.png" alt="Logo">
            </div>
            <div class="footer-description">
                <p>COMUDE Zapopan - Todos los derechos reservados.</p>
            </div>
        </div>
        <div class="footer-right">
            <ul class="footer-links">
                <li><a href="aviso-privacidad.html">Aviso de privacidad</a></li> 
                <li><a href="reglamento.html">Reglamento</a></li>
            </ul>
        </div>
    </div>
    <a (click)="scrollTop()" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
</footer>